.group-separater hr {
    margin: 0px;
}

.group-separater span {
    padding-left: 15px;
    font-weight: bold;
    font-size: 16px;
    color: #3c8dbc;
}
 .form-control{
    height: 30px !important;
}
.help-block {
    margin-top: 0px !important;
    position: absolute;
    font-size: 14px !important;
}
.land-details{
    height: 30px !important;
}