/*------------------------------------------------------------------
Bootstrap Admin Template by EGrappler.com
------------------------------------------------------------------*/


/*------------------------------------------------------------------
[1. Global]
*/

@font-face {
    font-family: "Kalimati";
    src: url('../fonts/Kalimati.ttf') format("truetype");
}

body {
    font-family: 'Kalimati';
    font-size: 36px;
    text-align: justify;
}

table,
tr,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td,
tr {
    padding: 5px;
    text-align: center;
}

table {
    max-width: 2480px;
    width: 100%;
    font-size: 24px;
}

th {
    border: 1px solid black;
    font-weight: bold;
    border-collapse: collapse;
    text-align: center;
    font-size: 24px;
}

td {
    width: auto;
    overflow: hidden;
    word-wrap: break-word;
    font-size: 24px;
}

tr {
    page-break-inside: avoid;
}


h4 {
    font-size: 36px;
    font-weight: bold;
    margin: 15px;
    margin-top: 100px;
}

h2 {
    font-size: 36px;
    margin: 15px;
}

p {
    margin: 10px;
}

