@import url(fontawesome.css);
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900");
body {
    font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}

#page-wraper {
    background: #f3f3f3 no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    overflow: hidden;
}


/* Basic */


input,
select,
textarea {
    outline: none;
}

a {
	color: #0079ff;
    text-decoration: none;
}

a:hover {
	color: #2eb2ff;
	text-decoration: none;
}

p {
	letter-spacing: 0.5px;
    line-height: 2em;
    color: #fff;
}

h4 {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.5px;
}

img {
    width: 100%;
    overflow: auto;
}

ul {
    padding: 0;
    margin: 0;
    /*list-style: none;*/
}

ul li {
 /*   display: inline-block;
*/}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.clearfix {
    zoom: 1;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.container {
    margin: 0 auto;
}

.top-header {
	margin: 0;
	padding: 0;position: fixed;
    z-index: 999;
}

.main-nav {
    text-align: center;
}

.main-nav li:last-child a {
    border-bottom: 1px solid #69C;
}

.main-nav li {
    display: block;
}

.main-nav li a {
    height: 56px;
    line-height: 56px;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    width: 100%;
    transition: all 0.5s;
    border-top: 1px solid #69C;
}

.main-nav li:hover a,
.main-nav li.active a {
    background: #fff;
    color: #2279BD;
}

/* Sidebar Menu */

.menu .image {
    margin-top: 30px;
}

.menu .image img {
    width: 120px;
    height: 115px;
    border-radius: 10%;
    text-align: center;
}
.menu:before,
.menu:after {
    content: "";
    display: table;
}

.menu:after {
    clear: both;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.menu {
    text-align: center;
}

.menu::-webkit-scrollbar {
    display: none;
}

.menu {
    left: 19.3%;
  -webkit-transition: -webkit-transform 233ms cubic-bezier(0, 0, 0.21, 1);
  -webkit-overflow-scrolling: touch;
  background-color: #2279BD;
  box-sizing: border-box;
  height: 100vh;  
  max-height: 100vh !important;
  max-width: 80vw !important;
  min-width: 45px !important;
  outline: none;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  padding: 0;
  position: fixed !important;
  top: 170px;  
  width: 16%;
  will-change: transform;
  z-index: 99 !important;
  box-shadow: -6px 0 15px 0 #dadadb;
}

.menu-toggle {
  color: #fff;
  cursor: pointer;
  font-size: 25px;
  position: fixed;
  right: 25px;
  top: 25px;
}

#menu-toggle {
    z-index: 999;
    cursor: pointer;
    position: fixed;
    top: 60px;
    left: 0;
    color: #2279BD;
    background-color: #fff;
    width: 45px;
    height: 45px;
	line-height: 50px;
    text-align: center;
    display: inline-block;
	font-size: 1.3em;
}

.menu-close {
  cursor: pointer;
}

#menu-close {
    cursor: pointer;
    text-align: right;
    color: #2279BD;
    background-color: #fff;
    width: 100%;
    height: 40px;
    text-align: center;
    display: inline-block;
    line-height: 40px;
	font-size: 1.3em;
}


/* Section */

.section {
    color: #fff;
    width: 45.7%;
    right: 10%;
    left: 35.4%;
    position: relative;
    min-height: 100vh;
    padding-bottom: 60px;
    border-bottom: 3px solid rgba(250, 250, 250, 0.25);
    top: 170px;
    box-shadow: 6px 0 15px 0px #dadadb;
}

.section-heading {
    text-align: left;
    padding: 5px 0 5px 0;
}

.section-heading h2 {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
}

.section-heading .line-dec {
    max-width: 500px;
    height: 3px;
    background-color: #fff;
    margin: 20px 0;
}

.section-heading span {
    margin-top: 5px;
    font-size: 15px;
    letter-spacing: 1px;
    text-align: justify;
}

/* Buttons */

button {
    display: inline-block;
    padding: 12px 22px;
    background-color: #fff;
    color: #2279BD;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 0.5s;
    border: none;
    outline: none;
    cursor: pointer;
}

button:hover {
    outline: none;
    background-color: #2279BD;
    color: #fff;
}


/* Left & Right Post */

.right-image-post {
    margin-bottom: 60px;
    padding-bottom: 60px;
    border-bottom: 2px solid rgba(250, 250, 250, 0.1);
}

.left-image img,
.right-image img {
    border-radius: 5px;
}

.right-image-post h4,
.left-image-post h4 {
    margin-top: 0px;
}

.right-image-post p,
.left-image-post p {
    margin-top: 20px;
}

@media screen and (max-width: 1680px) {
    .menu {
        left: 12.1%;
    }

    .section {
        color: #fff;
        width: 63.5%;
        right: 5%;
        left: 28.2%;
    }
}

@media screen and (max-width: 1680px) and (min-width: 846px) { 
    .menu .image {
        margin-top: 35px;
    }
}

@media screen and (max-width: 1366px) {
    .menu {
        left: 0%;
    }
    .section{left:  30.2%;}

}

.menu .container {
    padding-left: 0;
    padding-right: 0;
}

@media screen and (max-width: 1368px) and (min-width: 846px) {
    .menu {
        width: 23.3%;
    }
    .menu{left:  6.7%;}
}

#menu-toggle,
#menu-close {
    display: none;
}  

@media screen and (max-width: 845px) {        
    #menu-toggle,
    #menu-close {
        display: inline-block;
    }    

    .menu {        
        width: 320px;
        -webkit-transform: translateX(-100%) !important;
        transform: translateX(-100%) !important;
        transition: -webkit-transform 233ms cubic-bezier(0, 0, 0.21, 1);
        transition: transform 233ms cubic-bezier(0, 0, 0.21, 1);
        transition: transform 233ms cubic-bezier(0, 0, 0.21, 1), -webkit-transform 233ms cubic-bezier(0, 0, 0.21, 1);
    }

    .menu .image {
        margin-top: 40px;        
    }

    .menu .image img {
        width: 120px;
        height: 120px;
    }

    .menu .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .menu.open {
        display: inline-block;
        -webkit-transform: translateX(0) !important;
                transform: translateX(0) !important;
    }

    .responsive-nav {
        display: inline-block;
    }
    .section {
        width: 100%;
        right: 3%;
        left: 3%;
    }

    .right-image-post img {
        margin-top: 30px;
    }
}
@media screen and (max-width: 769px) {
    .title h4{
        font-size: 12px;
    }
    .nepali-title{font-size: 18px;}
    .logo{width: 100%; }
    h5{font-size: 14px;}
    .container{max-width: 100% !important;}
    .section{left:  0% !important; right: 0% !important;}
}
@media screen and (max-width: 545px) {
    .top-header{height: 250px !important;top: 0px !important}
    .title{text-align: center; width: 100%;margin-top: 0px !important;}
    .image{margin-left: 29%;padding: 20px !important;}
    .section{top: 250px !important; position: absolute;}
    .menu{top: 250px;}
    .main-nav li a{line-height: 50px; height: 50px;}
    .title h4{
        font-size: 14px !important;
    }
}
@media screen  and (min-width: 768px) {
    .nepali-title{font-size: 18px;}
    .title h4{font-size: 20px;}
}
@media screen  and (min-width: 1200px) {
    .nepali-title{font-size: 26px;}
    .title h4{font-size: 24px;}
}
/*own style*/

.top-header{ height: 170px;width:  100%;background: #3c79bd; color: #fff;}

.title h3{font-weight: 600;}
.image{display: inline-block;padding: 30px; float: left;}
.title{display: inline-block; margin-top: 20px;}
 .list {list-style-type: disc !important;padding-left: 20px;margin-top: 20px;text-align: justify;}
 .list li{margin: 5px 0;}

 @media (min-width: 1200px){
.container {
    max-width: 1200px !important;
}
}