.page-controls{position: fixed; background: #fff;}
.page-controls, .content-wrap, .loader-wrap{left: 0px;}
@media (min-width: 768px){
	.page-controls, .content-wrap, .loader-wrap {
    margin-left: 0px;
    left: 0px;
}
}
@media (min-width: 992px){
	.nav-static .page-controls, .nav-static .content-wrap, .nav-static .loader-wrap {
    transition: none;
    left: 0;
    margin-left: 0px;
}
}
.menu-section{
	line-height: 60px; background: #cfe3f7; 
    margin-top: 72px;
    display: inline-block;
    position: fixed; z-index: 2;
    box-shadow: 0px 4px 15px -8px rgb(75 102 171 / 55%);
}
.sidebar-nav {
	display: flex;
	flex-wrap: wrap;
	list-style: none;padding: 0px;margin-bottom: 0px;
}
.sidebar-nav>li{margin:  5px 0;}
.sidebar-nav>li>a{text-align: center; padding-left: 0px; font-size: 15px; color: #000; border-radius: 3px; padding: 3px 7px; border-top: 0;}
.sidebar-nav>li>a:hover, .sidebar-nav>.active>a,.sidebar-nav>.active>a .icon{
	color:  #fff;
	background: #4386d0;
}
.sidebar-nav>li>a .icon{position: relative; font-size: 16px; text-align: center;display: inline;padding-right: 15px;}

@media (min-width: 992px) and (min-height: 670px), (max-width: 767px){
	.sidebar-nav>li>a .icon {
     top: 0px; 
}
.sidebar-nav>li>a {
    line-height: 30px;
}
}
.theme-helper .theme-helper-spinner{
	font-size: 1.6rem;border-radius: 10px 0 0 10px; padding: .6rem .5rem .6rem 1rem;
}
.theme-helper .theme-helper-toggler i:last-of-type {
    vertical-align: 0rem;margin-right: 0px;
}
.theme-helper .theme-helper-toggler{width: 45px; margin-left: -45px;}
.theme-helper .theme-helper-toggler i:last-of-type, .theme-helper .theme-helper-toggler i:first-of-type{animation: none;}
.filter-nav{list-style: none;}
/*.btn-secondary{background: #005792;border-color: #005792;}*/
/*.btn-warning{background-color: #1A86D0;border-color: #1A86D0;}*/
/*.btn-danger { background-color: #20ae8c;border-color: #20ae8c;}*/
.content{padding: 140px 40px 42px;}
.btn{padding: 6px 6px; white-space: normal;}
.page-title {
    margin: 0px 20px 2rem;
}
.btn-circle{border-radius:  50%;}
html:not([dir=rtl]) .mfe-3 {
    margin-right: 1.5rem!important;
}
.widget1{
    position: relative;
    background: #fff;
    border-radius: .25rem;
    box-shadow: 4px 4px 30px 0px rgb(75 102 171 / 20%);
}
.text-value{font-size: 22px;}
.large{font-size: 16px;}
.analytics .analytics-side{width: 100% !important;}

@media (max-width: 767px){
    .page-controls{position: absolute;width: 100%;}
    .navbar .container-fluid,.menu-section{display: block; position: relative;}
   .sidebar-nav{display: block;}
   .nav-collapsed .page-controls{height: 0; display: none;}
   .navbar-nav{position: absolute;}
   .nav-static .content{padding: 450px 40px 42px !important;}
   .nav-collapsed .content{padding: 120px 40px 42px !important;}
   .sidebar-nav>li>a{text-align: left;}
   .mb-xlg {margin-bottom: 60px !important;}
}

.navbar {min-height: 0px;border: 0;}
.page-controls{height: 120px; position: fixed;}
.header{background: #fff; padding:  5px 10px;position: fixed;z-index: 2;width: 100%;}
.mtn{margin:  -3em 7rem 0em; box-shadow: 4px 4px 30px 0px rgb(156 158 165 / 20%);border-radius: .35rem;}
.font-weight-bold{font-weight: 600 !important;}
.sidebar-nav>.active>a .icon{background: none;}
.mt-6{margin-top: 4em;}
.br{border-right: 1px solid #afa7a7;}
.three-column{white-space: nowrap;font-size: 15px;padding: 1.3em !important;}
.filter .sideways{text-align: left;}
.btn-filter{background: #cfe3f7; color:  #000 !important; box-shadow: 4px 4px 30px 0px rgb(75 102 171 / 20%) !important;}
.icon-title{padding-left: 10px;font-size: 15px;}
.sidebar-nav>.active>a .icon .fa{color:  #fff;}
.btn-filter:hover{background: #96c0ea;}
.theme-helper{width: 260px; right:  -260px;}
.nav-link{padding:  1rem;}
@media  (min-width: 768px) and (max-width: 1210px)  {
    .page-controls{height:  176px;}
    .content {padding: 194px 40px 42px;}
}
.content-wrap section{display: block !important;min-height: 0px !important;}
.footer{position: relative;}
.navbar:before, .container-fluid:before{display: none !important;}
.footer{box-shadow: 4px 4px 30px 0px rgb(75 102 171 / 20%);}
