@font-face {
    font-family: "Kalimati";
    src: url("../fonts/Kalimati.ttf") format("truetype");
    src: local("Kalimati"), url("../fonts/Kalimati.ttf") format("truetype");

}

.f-kalimati {
    font-family: "Kalimati";
}

.f-arial {
    font-family: "Arial";
}